
.ft0{font-style:normal;font-weight:normal;font-size:20px;font-family:Tahoma;color:#000000;}
.ft1{font-style:normal;font-weight:normal;font-size:12px;font-family:Tahoma;color:#000000;}
.ft2{font-style:normal;font-weight:bold;font-size:12px;font-family:Tahoma;color:#000000;}
.ft3{font-style:normal;font-weight:normal;font-size:13px;font-family:Tahoma;color:#000000;}
.ft4{font-style:italic;font-weight:bold;font-size:11px;font-family:Tahoma;color:#000000;}
.ft5{font-style:normal;font-weight:normal;font-size:16px;font-family:Tahoma;color:#000000;}
.ft6{font-style:normal;font-weight:bold;font-size:16px;font-family:Tahoma;color:#000000;}
.ft7{font-style:normal;font-weight:bold;font-size:15px;font-family:Tahoma;color:#000000;}
.ft8{font-style:normal;font-weight:normal;font-size:30px;font-family:Times New Roman;color:#000000;}
.ft9{font-style:normal;font-weight:bold;font-size:19px;font-family:Tahoma;color:#000000;}
